*{
    padding: 0;
    margin: 0;
}
a{
    color: white;
}
a:hover{
    color: rgb(124, 124, 124);
    cursor: pointer;
}
nav{
    width: 100%;
    height: 20vh;
    background-color: #284753;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.logo img{
    width: 40%;
    height: auto;
}
.menu{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.menu ul{
    margin-right: 10%;
    
    display: flex;
    justify-content: row;
}
.menu ul li{
    margin:.5vh;
}
.menu ul li a{
    text-decoration: none;
}
body{
    width: 100%;
    height: 100%;
}
footer{
    width: 100%;
    height: 20vh;
    background-color: #284753;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logoif{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
footer img{
    width: 10%;
    height: auto;
    margin-left: 5%;
}
footer p{
    width: 50%;
    height: auto;
    font-size: 130%;
    text-align: end;
    padding-right: 2%;
}