@font-face {
    font-family:"Georama", Arial, Helvetica, sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Georama:wdth,wght@62.5..150,100..900&display=swap');
    font-optical-sizing: auto;font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;
    background-color: #1B2831;
    color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.corpo{
    width: 80%;
    height: auto;
    background-color: #0000001c;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    height: 15vh;
    background-color: #050505;
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 20%;
    height: auto;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(255, 255, 255, .1);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 95%;
    height: auto;
}
nav{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
nav ul{
    margin-right: 10%;
    list-style: none;
    
    display: flex;
    justify-content: row;
}
nav ul li{
    margin:.6vh;
}
nav ul li a{
    font-size: x-large;
    color: white;
}
nav ul li a:hover{
    color: rgb(124, 124, 124);
    cursor: pointer;
}
/* Página Inicial */
#imgprincipal, #sobre, #noticias{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#imgprincipal img{
    width: 70%;
    height: auto;
    margin: 6vh 0 0 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .9);
}
figcaption{
    width: 70%;
    margin-bottom: 2%;
    text-align: end;
    font-size: small;
}
#imgprincipal p, #sobre p, #noticias p{
    width: 90%;
    height: auto;
    text-align: center;
    margin: 3% 0 3% 0;
    font-size: large;
}
#sobre h1, #noticias h1{
    width: 100%;
    height: auto;
    text-align: left;
    margin: 0 0 0 10%;
}
#linknoticias{
    text-decoration: underline;
    color: white;
}
/* Página de Elenco */
#h1elenco{
    width: 100%;
    height: auto;
    text-align: left;
    padding: 2% 0 0 2%;
}
.personagem{
    width: 95%;
    height: 60vh;
    margin: 5% 0 3% 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.personagem img{
    width: 30%;
    height: 50%;
}
.personagem h2{
    width: 70%;
    height: auto;
    margin: 1% 0 1% 1%;
}
.personagem p{
    width: 60%;
    height: auto;
    margin: 0 0 1% 1%;
    font-size: 1.15em;
}
/* Página Sinopse */
#h1sinopse{
    width: 100%;
    height: auto;
    text-align: left;
    padding: 2% 0 0 5%;
}
#ptemporada, #stemporada, #ttemporada{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ptemporada h2, #stemporada h2, #ttemporada h2{
    width: 100%;
    height: auto;
    text-align: left;
    margin: 5% 0 0 10%;
}
#ptemporada p, #stemporada p, #ttemporada p{
    width: 80%;
    height: auto;
    text-align: center;
    margin: 3% 0 3% 0;
    font-size: large;
}
iframe{
    width: 80%;
    height: 80vh;
}
/* Botão de voltar das páginas */
.voltar{
    width: 100%;
    height: auto;
    padding: 1vh 0 1vh 0; 

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.voltar button{
    width: 8vh;
    height: 8vh;
    margin: 5vh 5vh 1vh 0;
    padding: 5px;
    border-style: none;
    border-radius: 50%;
    background-color: #000000;
}
button img{
    width: 100%;
    height: auto;
}
.voltar button:hover{
    cursor: pointer;
}
/* Rodapé das páginas */
footer{
    width: 100%;
    height: 12vh;
    background-color: #050505;
    color: rgb(255, 255, 255);

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
footer p{
    width: 35%;
    height: auto;
    color: rgb(255, 255, 255);
    font-size: medium;
    text-align: end;
    text-wrap: balance;
    padding-right: 2%;
}
.logoif{
    width: 5%;
    height: 80%;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
footer img{
    width: auto;
    height: 100%;
    margin-right: 25%;
}
/* Celulares */
@media (max-width: 640px) {
    header{
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo{
        width: 60%;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    nav{
        width: 100%;
        height: auto;
        margin-bottom: 1vh;
    }
    .corpo{
        width: 100%;
    }
    /* Página Inicial */
    #imgprincipal img{
        width: 90%;
    }
    figcaption{
        width: 90%;
        font-size: medium;
    }
    #imgprincipal p, #sobre p, #noticias p{
        font-size: 1.5em;
    }
    /* Página Elenco */
    .personagem{
        height: auto;

        flex-direction: row;
    }
    .personagem img{
        width: 50%;
        height: auto;
    }
    .personagem h2{
        width: 100%;
    }
    .personagem p{
        width: 100%;
    }
    /* Página Sinopse */
    iframe{
        height: 30vh;
    }
    /* Botão de voltar das páginas */
    .voltar button{
        width: 5vh;
        height: auto;
        margin: 2vh 2vh 0 0;
    }
    /* Rodapé */
    footer p{
        width: 90%;
        height: auto;
    }
    .logoif{
        width: 10%;
        height: 5vh;
    }
    footer img{
        width: auto;
        height: 100%;
    }    
}